<%- include('./head.ejs')  %> 
<header>
  <div class="container  header" id="login-header">
      <img src="/assets/logo.png" alt="imagen del logo" class="logo">
  </div>
</header>
<main>
  <h1><%= title %></h1>
  <p class="info"><%= message %></p>
</main>
<%- include('./footer.ejs')  %> 