<div id="notifications"></div>

<template id="notification-template">
  <div class="notification-container">
    <span class="icon-cancel"></span>
    <p class="notification-responsable"></p>
    <p class="notification-message"></p>
  </div>
</template>