<span class="icon-bell notidication-icon">
  <span class="notifications-unviewed none"></span>
</span>
<div id="notifications-container" class="none">
  <ul id="notifications-list" data-client=<%= user.email %> >
  
  </ul>
</div>
<template id="notification-li-template">
  <li class="notification-li">
    <p class="notification-li-responsable"></p>
    <p class="notification-li-message"></p>
  </li>
</template>