<aside class="panel panel-scan-cam">
  <div class="scan-cam-container">
    <h3>Escanear código</h3>
    <div id="qr-reader"></div>
    <div id="qr-reader-results">
      <p class="qr-result">Resultado:</p>
    </div>
    <button id="scan-cam-send">Cargar Producto</button>
  </div>
</aside>