<%- include('./head.ejs')  %> 
<header>
  <div class="container  header" id="login-header">
      <img src="/assets/logo.png" alt="imagen del logo" class="logo">
  </div>
</header>
<main>
  <h1><%= title %>s</h1>
  <div class="container container-login-form">
    <form action="/users/forget-password" method="post" id="forget-password-form">
      <label for="username-input">Ingrese su Email: 
        <div class="form-input-container">
          <input type="text" name="username" id="username-input" title="Email incorrecto" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" placeholder="joseperez@yahoo.com.ar" required>
        </div>
      </label>
      <label for="dni-input">Ingrese su Dni: 
        <div class="form-input-container">
          <input type="number" name="dni" id="dni-input" placeholder="DNI sin puntos" title="El DNI solo acepta números" pattern="[0-9]" required>
        </div>
      </label>
        <input type="submit" id="btnSubmitForm" value="Enviar">
      <input type="hidden" name="_method" value="PUT">
    </form>
  </div>
  <aside class="panel">
  </aside>
  <template id="show-template">
    <article class="problem">
      <h3></h3>
      <p></p>
      <input type="button">
    </article>
  </template>
  <aside class="panel">
  </aside>
</div>
<template id="show-template">
  <article class="problem">
    <h3></h3>
    <p></p>
    <input type="button">

  </article>
</template>
</main>
<script>
  const userList = <%-JSON.stringify(userList)%>;
</script>
<%- include('./footer.ejs')  %> 
