:root{
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  --first-modal-color: rgba(34,34,34,0.85);
  --second-modal-color: rgba(223, 223, 223, 0.747);
  --main-color: rgb(233, 171, 1);
  --second-color: #222;
  --main-modal-color: rgba(167, 110, 4, 0.774);
  --create-item-color: rgba(219, 192, 192, 0.815);
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body{
  min-height: 100vh;
  margin: 0;
  background-color: rgb(219, 219, 219);
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--main-color);
}

h1{
  text-align: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  padding: .5rem;
  margin: 0 auto;
}

main .container.container-table {
  overflow-x: auto;
}
/* MENU */
.header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
}
.nav-menu>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-menu li {
  display: block;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.nav-menu li:hover,
.nav-menu li:focus-within {
  color: blueviolet;
}

.nav-menu li:focus-within a {
  outline: none;
}

.menu-dropdown {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  padding-left: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1.4rem;
  left: 0;
  display: none;
}

.menu-dropdown{
  min-width: 100%;
  width: max-content;
}
.menu-dropdown>li>a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem 1.5rem;
  transition: .3s;
}
.menu-dropdown>li>a:hover {
  background-color: var(--main-modal-color);
  color: #fffc67;
}

.nav-menu>ul>li>a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1.5rem 3rem;
  transition: .3s;
}
.nav-menu>ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0.205);
  color: blueviolet;
} 

.nav-menu ul li:hover > ul,
.nav-menu ul li:focus-within > ul,
.nav-menu ul li ul:hover,
.nav-menu ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.nav-menu ul li ul li {
  clear: both;
  width: 100%;
}

/*SIGNUP*/

form {
  margin: 0 auto;
  max-width: 1200px ;
}
#signup-form {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2,48% );
}
#signup-form label {
  display: flex;
}

#signup-form input {
  flex-grow: 1;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

#signup-form label:nth-child(5),
#signup-form #btnSubmitForm {
  grid-column: 2 span ;
}

#signup-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

#signup-form [required]:invalid {
  border: thin solid var(--form-error-color);
}


@media screen and (max-width: 850px) {
  #signup-form {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  #signup-form label {
    flex-direction: column;
  }
  #signup-form label:nth-child(n) input {
    margin: .25rem 0 .5rem 0;
  }

}


/* LOGIN */

#login-form {
  margin: 0 auto;
  max-width: 1200px ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}
#login-form label {
  width: 100%;
  display: flex;
}
#login-form label > input {
  margin-left: 2rem;
  flex-grow: 1;
  margin-bottom: .7rem;
}

.contact-form-error {
  margin-top: -.5rem;
  width: 100%;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all .3s ease;
}

.none {
  display: none;
}
  
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

@media screen and (max-width: 550px) {
  #login-form {
    display: block;
  }
  #login-form label {
    flex-direction: column;
  }
  #login-form label:nth-child(n) input {
    margin: .25rem 0 .5rem 0;
  }


}

/* CREATE PRODUCT FORM */

.product-form {
  display: grid;
  row-gap: .5rem;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(6,1fr);
}

.product-form label,
.product-form input[type="button"] {
  grid-column: span 2 ;
}
.product-form label:nth-child(4),
.product-form label:nth-child(5) {
  grid-column: span 3 ;
}

.product-form input[type="submit"] {
  grid-column: 3 / span 2;
}

.product-form label {
  display: flex;
  align-items: center;
}

.product-form label input,
.product-form label select{
  flex-grow: 1;
  margin-right: .5rem;
  margin-left: .5rem;
  height: fit-content;
}

.product-form label:nth-child(3) input,
.product-form label:nth-child(5) input{
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .container-form {
    width: 90%;
  }
  .product-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-form label,
  .product-form label:nth-child(4),
  .product-form label:nth-child(5),
  .product-form .btn-code-scan {
    grid-column: auto;
  }
  .product-form label:nth-child(odd) input {
    margin-right: .5rem;
  }
  .product-form label:nth-child(even) input,
  .product-form label select {
    margin-right: 0;
  }
  .product-form input[type="submit"] {
    grid-column: span 2;
  }
  
}

@media screen and (max-width: 800px) {
  .container-form {
    width: 90%;
  }
  .product-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .product-form label:nth-child(n) select,
  .product-form label:nth-child(n) input{
    margin: 0;
    margin-left: .25rem;
    margin-bottom: .25rem;
  }
}


/* FORM HISTORY INGRESS*/

.history-form {
  display: grid;
  row-gap: .5rem;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2,1fr );
}
.history-form .items-list {
  grid-column: span 2;
}

.history-form label {
  display: flex;
  align-items: center;

}

.history-form label input,
.history-form label select {
  flex-grow: 1 ;
  margin-left: .5rem;
}

.history-form>label[for='referenceNumber'] input,
.history-form>label:nth-child(1) select {
  margin-right: .5rem;
}
.btn-form-add {
  text-align: center;
}


.history-form .btn-code-scan {
  margin: 0 auto;
  margin-bottom: auto;
  
}

.history-form .btn-form-add:last-of-type {
  grid-column: span 2;
}

.history-form .btn-delete-item {
  margin: 0 auto;
}


.history-form .btn-container {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
}

.history-form .btn-container #btn-add-item,
.history-form .btn-container #btnSubmitForm {
  margin-left: 0;
  margin-right: 0;
}

.create-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: medium solid var(--main-color);
  background-color: var(--create-item-color);
  border-radius: 1rem;
  padding: .5rem  ;
  margin-bottom: .5rem;
}
.create-item:last-of-type {
  margin-bottom: 0;
}

.create-item label {
  width: 50%;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
}
.create-item label:nth-child(1) input {
  margin-right: .5rem;
}
.create-item label input {
  flex-grow: 1;
}

.create-item-row {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .history-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .history-form label:nth-child(n) select,
  .history-form label:nth-child(n) input{
    margin: 0;
    margin-left: .25rem;
    margin-bottom: .25rem;
  }
  .create-item {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
  .create-item label{
    width: 100%;
  }

  .history-form .btn-code-scan {
    margin-bottom: .75rem;
  }

}

/* HISTORY UPGRADE */

#upgrade-history-form {
  display: grid;
  row-gap: .5rem;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2,1fr);
}

#upgrade-history-form label {
  display: flex;
  align-items: center;
}

#upgrade-history-form label:nth-of-type(odd) {
  margin-right: .5rem;
}

#upgrade-history-form label input,
#upgrade-history-form label select {
  flex-grow: 1;
  margin-left: .5rem;
}

#upgrade-history-form .btn-code-scan {
  width: fit-content;
  justify-self: center;
}

#upgrade-history-form #btnSubmitForm {
  grid-column: span 2;
}

@media screen and (max-width: 950px) {
  #upgrade-history-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #upgrade-history-form label:nth-child(n) {
    margin-right: 0;
  }

  #upgrade-history-form .btn-code-scan {
    align-self: center;
  }
}


/* CLIENT TABLE */

.client-form {
  display: grid;
  row-gap: .5rem;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2,1fr);
}
.client-form input[type="submit"]{
  grid-column: span 2;
}
.client-form label {
  display: flex;
  align-items: center;
}
.client-form label:last-of-type{
  justify-content: center;
  align-items: flex-start;
}
.client-form label:last-of-type input{
  flex-grow: initial;
}
.client-form label:nth-child(odd) {
  margin-right: .5rem;
}

.client-form label input {
  flex-grow: 1;
  height: fit-content;
  margin-left: .5rem;
}

@media screen and (max-width: 1050px) {
  .client-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .client-form label:nth-child(n) {
    margin: 0;
    margin-left: .25rem;
    margin-bottom: .25rem;
  }

}


/* BTN CODE SCAN */
.btn-code-scan {
  grid-column: span 2 ;
  display: flex;
  justify-content: center;
}
#camera-icon{
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}

#qr-reader__scan_region {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* PANEL */

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  background-color: var(--first-modal-color);
  opacity: 0;
  transition: transform .5s ease, opacity .5s ease;
  /* De arriba */
  /* transform: translate(0,-100%); */
  /* De abajo */
  /* transform: translate(0,100%); */
  /* De derecha */
  transform: translate(100%,0);
  /* De izquierda */
  /* transform: translate(-100%,0); */
}
.panel.is-active {
  transform: translate(0,0);
  opacity: 1;
} 

input[type="submit"]#btnSubmitForm,
#btn-add-item {
  display: block;
  padding: 0.5rem 2rem;
  width: fit-content;
  border: 2px solid var(--main-modal-color);
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  transition: .3s ease-in;
  margin: 0 auto;
  margin-top: 2rem;
}

input[type="submit"]#btnSubmitForm:hover {
  border-color:var(--main-color);
  color: var(--second-modal-color);
  background-color: var(--main-modal-color);
  box-shadow: 0 0 6px 1px var(--main-color);
}

#btn-add-item {
  background-color: #6391a8;
  border-color: #004c79;
}
#btn-add-item:hover {
  border-color: #6391a8;
  background-color: #004c79;
  color: var(--second-modal-color);
  box-shadow: 0 0 6px 1px #004c79;
}

/* MENU HAMBURGUESA */

.panel-menu {
  transform: translate(0,100%);
  background-color: var(--first-modal-color); 
}
.panel-btn {
  position: fixed;
  z-index: 997;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.menu-responsive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu-responsive a {
  display: block;
  padding: 2rem;
  width: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu-responsive a.active,
.menu-responsive a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

@media screen and (max-width: 1150px) {
  .panel-btn {
    display: flex;
  }
  .nav-menu{
    display: none;
  }
}


/* LOADER */

.panel-loader {
  background-color: var(--second-modal-color) ;
  align-items: center;
  justify-content: center;
}

.panel-loader img {
  display: block;
  margin: 0 auto;
}

.problem {
  padding: 2rem;
  border-radius: 15px;
  border: medium solid salmon;
  background-color: bisque;
  margin: auto;
  text-align: center;
}
#btn-cerrar {
  padding: 0.5rem 1.5rem;
  background-color: beige;
  border-color: brown;
  color: brown;
  border-radius: 15px;
  border-style: inherit;
  cursor: pointer;
  transition: all .3s;
}

#btn-cerrar:hover {
  background-color: rgb(167, 167, 115);
  box-shadow: 0px 0px 7px 1px #c57070;
}

.inner-link {
  text-decoration: none;
  width: max-content;
  display: block;
  color: rgb(155, 190, 201);
  font-weight: bold;
  margin: 2rem auto;
  transition: all ease-in .3s;
}

.inner-link:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);

  text-shadow: 0 0 6px rgb(52, 166, 201);
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}

/* TABLE HISTORY */

.table {
  width: 100%;
  background-color: #000;
}

.table td,
.table th{
  padding: 1rem;
}

.table thead:first-child {
  background-color: #004c79;
  color: #dddddd;
  font-weight: bolder;
  text-transform: uppercase ;
}

#history-table tbody {
  background-color: #7fb9d5;
  color: #fcfcec;
}
#history-table tbody tr:nth-child(even) {
  background-color: #6391a8;
}
#client-table thead:first-child{
  background-color: #6d3838;
}

#client-table tbody {
  background-color: #c57070;
  color: #fcfcec;
}
#client-table tbody tr:nth-child(even) {
  background-color: #a14747;
}

#product-table thead:first-child{
  background-color: #2d5e43;
}

#product-table tbody {
  background-color: #41c041;
  color: #fcfcec;
}
#product-table tbody tr:nth-child(even) {
  background-color: #3b9b48;
}

.filter-btn {
  background-color: transparent;
  border: none;
  color: #dddddd;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.3s;
}

.filter-btn:hover {
  color: rgb(241, 230, 76);
  transform: scale(1.4);
}


.history-form .error,
.history-form .error{
  border: thin solid var(--form-error-color);

}

.table-link {
  color: #fcfcec;
  text-decoration: none;
  transition: 0.3s;
}
.table-link:hover {
  color: rgb(215, 243, 182);
}

.table-btn {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0.5rem 0.9rem;
  border-radius: 3rem;
  border: thin solid ;
  color: #fcfcec;
  transition: .3s;
}

#client-table .table-btn {
  border-color: rgb(245 178 178);
  background-color: #6d3838;
}

#client-table .table-btn:hover {
  color: #6d3838;
  background-color:rgb(245 178 178) ;
}

#product-table .table-btn {
  border-color: #57ad7e;
  background-color: #2d5e43;
}

#product-table .table-btn:hover {
  background-color: #57ad7e;
  color: #2d5e43;
}

#history-table .table-btn {
  border-color: #578dac;
  background-color: #004c79;
}

#history-table .table-btn:hover {
  background-color: #578dac;
  color: #004c79;
}

@media screen and (max-width: 1150px) {

  .container-table {
    width: 90%;
  }
  .table td, .table th {
    padding: .5rem;
  }
  
}

@media screen and (max-width: 750px) {

  .container-table {
    width: 95%;
  }
  table {
    font-size: .75rem
  };
  .table td, .table th {
    padding: .5rem;
  }
  
}

/* PANEL SCAN BAR*/

.panel-scan-cam {
  background-color: var(--second-modal-color) ;
  align-items: center;
  justify-content: center;
}
.panel-scan-cam button {
  display: block;
  margin: 0 auto;
}
.scan-cam-container h3{
  text-align: center;
}

#qr-reader {
  width: 500px;
}

.scan-cam-container {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  border: medium solid silver;
  box-shadow: 0 0 10px 10px silver;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 650px) {
  #qr-reader {
    width: 300px;
    height: 300px;
  }
}


